@import url(main.css);

.stack {
    display: flex;
    flex-direction: column;

    background-color: var(--background-color-02);
}

.stack h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.stack-container {
    display: grid;
    gap: 1rem;
}

.stack-box {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--background-color-02);
    transform: 0.5s ease;
    justify-content: space-between;
    min-width: 18rem;
    min-height: auto;
    border-radius: .5rem;
    transition: all .45s ease;
    background-color: var(--background-color-01);
}

.stack-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    transform: translateY(-.5rem);
}

.stack-box .stack-icon i {
    font-size: 4.3rem;
    color: var(--main-color);
    margin: 0.5rem;
}

.stack-box h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* Landscape */
@media (min-width: 481px) {
}

/* Medium (md): Tablet */
@media (min-width: 768px) {
    .stack-container {
        grid-template-columns: auto auto;
        gap: 1rem;
    }
}

/* Large (lg): Notebook */
@media (min-width: 992px) {
    .stack h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .stack-container {
        grid-template-columns: auto auto auto;
    }
}

/* Ultrawide */
@media (min-width: 1525px) {
    .stack-container {
        grid-template-columns: auto auto auto auto;
    }
}